# –Ø–Ω–¥–µ–∫—Å –ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [1]:
import pandas as pd
import re
import random
import math
import numpy as np

In [2]:
pd.__version__

'1.4.2'

In [3]:
# set max columns to none
pd.set_option("display.max_columns", None)

if type of location not set assumming that its town

In [4]:
def name_n_type(text):
        whole_words = text.split()
        type_list = []
        name_list = []
        name_loc = " "
        type_loc = " "
        
        # regex
        pattern = '[–ê-–Ø–Å]+[–∞-—è—ë]'
        
        for word in whole_words:
            
            # searching pattern
            if re.search(pattern, word):
                name_list.append(word)
            else:
                type_list.append(word)
        
        name_loc = name_loc.join(name_list)
        
        if len(type_list) == 0:
            type_loc = '–≥–æ—Ä–æ–¥'
        else:
            type_loc = type_loc.join(type_list)
        
        return name_loc, type_loc

In [5]:
def correct_name(to_correct):
    # print(to_correct)
    if '–ø–æ—Å–µ–ª–æ–∫' in to_correct:
        to_correct = to_correct.replace('–ø–æ—Å–µ–ª–æ–∫', '–ø–æ—Å—ë–ª–æ–∫')
        # print(to_correct)
    return to_correct

In [6]:
# test_list = [
#  '–¥–µ—Ä–µ–≤–Ω—è –ù–æ–≤–æ–µ –î–µ–≤—è—Ç–∫–∏–Ω–æ',
#  '–ø–æ—Å—ë–ª–æ–∫ –ú–µ—Ç–∞–ª–ª–æ—Å—Ç—Ä–æ–π',
#  '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –õ–µ–±—è–∂—å–µ',
#  '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –°–∏–≤–µ—Ä—Å–∫–∏–π',
#  '–ø–æ—Å—ë–ª–æ–∫ –ú–æ–ª–æ–¥—Ü–æ–≤–æ',
#  '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –ö—É–∑—å–º–æ–ª–æ–≤—Å–∫–∏–π',
#  '—Å–∞–¥–æ–≤–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ –ù–æ–≤–∞—è –†–æ–ø—à–∞',
#  '–ü–∞–≤–ª–æ–≤—Å–∫',
#  '–¥–µ—Ä–µ–≤–Ω—è –ü–∏–∫–∫–æ–ª–æ–≤–æ',
#  '–í—Å–µ–≤–æ–ª–æ–∂—Å–∫',
#  '–í–æ–ª—Ö–æ–≤',
#  '–ö–∏–Ω–≥–∏—Å–µ–ø–ø',
#  '–ü—Ä–∏–æ–∑–µ—Ä—Å–∫',
#  '–°–µ—Å—Ç—Ä–æ—Ä–µ—Ü–∫',
#  '–¥–µ—Ä–µ–≤–Ω—è –ö—É—Ç—Ç—É–∑–∏',
#  '–ø–æ—Å—ë–ª–æ–∫ –ê–Ω–Ω–∏–Ω–æ',
#  '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –ï—Ñ–∏–º–æ–≤—Å–∫–∏–π',
# ]

# for word in test_list:
#     print(name_n_type(word))

In [7]:
real_estate_data = pd.read_csv('./datasets/real_estate_data.csv', sep='\t')

In [8]:
display(real_estate_data['balcony'].unique())

array([nan,  2.,  0.,  1.,  5.,  4.,  3.])

In [9]:
display(real_estate_data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,False,False,25.0,NaN,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,False,False,11.0,2.0,–ø–æ—Å—ë–ª–æ–∫ –®—É—à–∞—Ä—ã,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,False,False,8.3,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False,NaN,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,False,False,41.0,NaN,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

`'cityCenters_nearest'` ‚Üí convert to snake case

In [10]:
real_estate_data.rename(columns={'cityCenters_nearest': 'city_centers_nearest'}, inplace=True)

In [11]:
display(real_estate_data['is_apartment'].unique())

array([nan, False, True], dtype=object)

In [12]:
display(real_estate_data['balcony'].unique())

array([nan,  2.,  0.,  1.,  5.,  4.,  3.])

<div class="alert alert-info" role="alert">
    <p class="mb-0">–ö–∞–∫ –ø–æ–ª—É—á–∏—Ç—å <code>list</code> –∫–æ–ª–æ–Ω–æ–∫ —Å <code>NaN</code> –Ω–∞—à—ë–ª –Ω–∞ <code>stackoverflow</code> üëå</p>
</div>

In [13]:
display(
    real_estate_data.columns[real_estate_data.isna().any()].tolist()
)

['ceiling_height',
 'floors_total',
 'living_area',
 'is_apartment',
 'kitchen_area',
 'balcony',
 'locality_name',
 'airports_nearest',
 'city_centers_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

–î–æ–±—Ä–æ, –≤–æ—Ç —Å —ç—Ç–∏–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ –Ω—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ –Ω–∏—Ö –ø—Ä–æ–ø—É—Å–∫–∏ ‚Äî `NaN`

In [14]:
display(real_estate_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  city_centers_nearest  18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

None

In [15]:

for column in real_estate_data.columns:
    count_of_nan = len(real_estate_data.loc[real_estate_data[column].isna()][column])
    if count_of_nan > 0:
        print(column, end=' NaN = ')
        print(count_of_nan)
        print(real_estate_data[column].describe(), end='\n\n')

ceiling_height NaN = 9195
count    14504.000000
mean         2.771499
std          1.261056
min          1.000000
25%          2.520000
50%          2.650000
75%          2.800000
max        100.000000
Name: ceiling_height, dtype: float64

floors_total NaN = 86
count    23613.000000
mean        10.673824
std          6.597173
min          1.000000
25%          5.000000
50%          9.000000
75%         16.000000
max         60.000000
Name: floors_total, dtype: float64

living_area NaN = 1903
count    21796.000000
mean        34.457852
std         22.030445
min          2.000000
25%         18.600000
50%         30.000000
75%         42.300000
max        409.700000
Name: living_area, dtype: float64

is_apartment NaN = 20924
count      2775
unique        2
top       False
freq       2725
Name: is_apartment, dtype: object

kitchen_area NaN = 2278
count    21421.000000
mean        10.569807
std          5.905438
min          1.300000
25%          7.000000
50%          9.100000
75%         12.000000
max        112.000000
Name: kitchen_area, dtype: float64

balcony NaN = 11519
count    12180.000000
mean         1.150082
std          1.071300
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          5.000000
Name: balcony, dtype: float64

locality_name NaN = 49
count               23650
unique                364
top       –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥
freq                15721
Name: locality_name, dtype: object

airports_nearest NaN = 5542
count    18157.000000
mean     28793.672193
std      12630.880622
min          0.000000
25%      18585.000000
50%      26726.000000
75%      37273.000000
max      84869.000000
Name: airports_nearest, dtype: float64

city_centers_nearest NaN = 5519
count    18180.000000
mean     14191.277833
std       8608.386210
min        181.000000
25%       9238.000000
50%      13098.500000
75%      16293.000000
max      65968.000000
Name: city_centers_nearest, dtype: float64

parks_around3000 NaN = 5518
count    18181.000000
mean         0.611408
std          0.802074
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          3.000000
Name: parks_around3000, dtype: float64

parks_nearest NaN = 15620
count    8079.000000
mean      490.804555
std       342.317995
min         1.000000
25%       288.000000
50%       455.000000
75%       612.000000
max      3190.000000
Name: parks_nearest, dtype: float64

ponds_around3000 NaN = 5518
count    18181.000000
mean         0.770255
std          0.938346
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          3.000000
Name: ponds_around3000, dtype: float64

ponds_nearest NaN = 14589
count    9110.000000
mean      517.980900
std       277.720643
min        13.000000
25%       294.000000
50%       502.000000
75%       729.000000
max      1344.000000
Name: ponds_nearest, dtype: float64

days_exposition NaN = 3181
count    20518.000000
mean       180.888634
std        219.727988
min          1.000000
25%         45.000000
50%         95.000000
75%        232.000000
max       1580.000000
Name: days_exposition, dtype: float64

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏ –∏–∑—É—á–∏—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:
–î–ª—è –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –º–æ–∂–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å –ª–æ–≥–∏—á–Ω—É—é –∑–∞–º–µ–Ω—É. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ —á–µ–ª–æ–≤–µ–∫ –Ω–µ —É–∫–∞–∑–∞–ª —á–∏—Å–ª–æ –±–∞–ª–∫–æ–Ω–æ–≤ ‚Äî —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ, –∏—Ö –Ω–µ—Ç. –¢–∞–∫–∏–µ –ø—Ä–æ–ø—É—Å–∫–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ 0. –î–ª—è –¥—Ä—É–≥–∏—Ö —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Ç –ø–æ–¥—Ö–æ–¥—è—â–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ –∑–∞–º–µ–Ω—É. –í —ç—Ç–æ–º —Å–ª—É—á–∞–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å —ç—Ç–∏ –∑–Ω–∞—á–µ–Ω–∏—è –ø—É—Å—Ç—ã–º–∏. –û—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è ‚Äî —Ç–æ–∂–µ –≤–∞–∂–Ω—ã–π —Å–∏–≥–Ω–∞–ª, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –Ω—É–∂–Ω–æ –ø—Ä—è—Ç–∞—Ç—å.

–ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏, –≥–¥–µ —ç—Ç–æ —É–º–µ—Å—Ç–Ω–æ. –û–ø–∏—à–∏—Ç–µ, –ø–æ—á–µ–º—É –≤—ã —Ä–µ—à–∏–ª–∏ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏–º–µ–Ω–Ω–æ –≤ —ç—Ç–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –∏ –∫–∞–∫ –≤—ã–±—Ä–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è.
–£–∫–∞–∂–∏—Ç–µ –ø—Ä–∏—á–∏–Ω—ã, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥–ª–∏ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –ø—Ä–æ–ø—É—Å–∫–∞–º –≤ –¥–∞–Ω–Ω—ã—Ö.

In [16]:
real_estate_data['is_apartment'].fillna(value=False, inplace=True)

In [17]:
display(
    real_estate_data['floor'].loc[(real_estate_data['balcony'].isna())].describe()
)

display(
    real_estate_data['floor'].loc[~(real_estate_data['balcony'].isna())].describe()
)

display(
    real_estate_data['floor']
        .loc[(real_estate_data['balcony'].isna())
            & (real_estate_data['floor'] == 1)]
        .count()
)

count    11519.000000
mean         5.314003
std          4.667232
min          1.000000
25%          2.000000
50%          4.000000
75%          7.000000
max         31.000000
Name: floor, dtype: float64

count    12180.000000
mean         6.439327
std          5.022114
min          1.000000
25%          3.000000
50%          5.000000
75%          9.000000
max         33.000000
Name: floor, dtype: float64

1926

In [18]:
(
    real_estate_data['balcony'].loc[(real_estate_data['balcony'].isna())
                                & (real_estate_data['floor'] == 1)]
                            .fillna(value=0, inplace=True)
)

In [19]:
display(
    real_estate_data['balcony'].unique()
)

array([nan,  2.,  0.,  1.,  5.,  4.,  3.])

next step is temp

In [20]:
real_estate_data['balcony'].fillna(value=108, inplace=True)

In [21]:
display(
    real_estate_data['balcony'].unique()
)

array([108.,   2.,   0.,   1.,   5.,   4.,   3.])

In [22]:
real_estate_data['is_apartment'].fillna(value=False, inplace=True)

In [23]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()]
                        .head(10)
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1097,3,8600000.0,81.7,2016-04-15T00:00:00,3,3.55,5.0,50.80,2,False,False,False,8.80,0.0,NaN,23478.0,4258.0,0.0,NaN,0.0,NaN,147.0
2033,6,5398000.0,80.0,2017-05-30T00:00:00,3,NaN,4.0,42.60,2,False,False,False,18.60,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
2603,20,3351765.0,42.7,2015-09-20T00:00:00,1,NaN,24.0,15.60,3,False,False,False,10.70,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,276.0
2632,2,5130593.0,62.4,2015-10-11T00:00:00,2,NaN,24.0,33.10,21,False,False,False,8.20,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,256.0
3574,10,4200000.0,46.5,2016-05-28T00:00:00,2,NaN,5.0,30.80,5,False,False,False,6.50,0.0,NaN,27419.0,8127.0,0.0,NaN,1.0,603.0,45.0
4151,17,17600000.0,89.5,2014-12-09T00:00:00,2,3.00,8.0,39.62,7,False,False,False,13.38,0.0,NaN,25054.0,3902.0,1.0,485.0,3.0,722.0,869.0
4189,7,9200000.0,80.0,2015-12-10T00:00:00,3,4.00,4.0,52.30,3,False,False,False,10.40,0.0,NaN,21774.0,3039.0,1.0,690.0,1.0,953.0,223.0
4670,1,5500000.0,83.0,2015-08-14T00:00:00,3,NaN,7.0,NaN,6,False,False,False,NaN,0.0,NaN,26534.0,5382.0,1.0,446.0,1.0,376.0,350.0
5343,19,13540000.0,85.5,2016-01-20T00:00:00,3,NaN,7.0,59.10,5,False,False,False,8.30,4.0,NaN,10556.0,9538.0,1.0,67.0,0.0,NaN,303.0
5707,7,3700000.0,30.0,2016-04-29T00:00:00,1,NaN,24.0,20.00,23,False,False,False,NaN,0.0,NaN,21460.0,16788.0,0.0,NaN,1.0,170.0,49.0

In [24]:
display(
    real_estate_data.columns[real_estate_data.isna().any()].tolist()
)

['ceiling_height',
 'floors_total',
 'living_area',
 'kitchen_area',
 'locality_name',
 'airports_nearest',
 'city_centers_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

    ‚ùå 'ceiling_height' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É
    ‚ùå 'floors_total' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É
    ‚ùå 'living_area' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ –¥–∏–∞–ø–∞–∑–æ–Ω–∞–º —Ü–µ–Ω –∏ —Ä–∞–π
    ‚úÖ 'is_apartment'
    ‚ùå 'kitchen_area' ‚Äî –µ—Å–ª–∏ —Å—Ç—É–¥–∏—è —Ç–æ –∫—É—Ö–Ω—è `NaN` –ø—Ä–æ–≤–µ—Ä–∏–º, –µ—Å–ª–∏ –¥–∞ —Ç–æ —Å–¥–µ–ª–∞–µ–º 0
    ‚úÖ 'balcony'
    ‚ùå 'locality_name' ‚Äî —Å–Ω–∞—á–∞–ª–∞ —É–¥–∞–ª–∏–º –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã
    ‚ùå 'airports_nearest' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –∞—ç—Ä–æ–ø–æ—Ä—Ç–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'cityCenters_nearest' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö —Ü–µ–Ω—Ç—Ä–æ–≤ –≥–æ—Ä–æ–¥–∞ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'parks_around3000' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –ø–∞—Ä–∫–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'parks_nearest'
    ‚ùå 'ponds_around3000' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –ø—Ä—É–¥–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0
    ‚ùå 'ponds_nearest'
    ‚ùå 'days_exposition' ‚Äî –ø–æ—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫ —Å–≤—è–∑–∞–Ω —Å—Ç–æ–ª–±–µ—Ü —Å `first_day_exposition`

**–ü—Ä–µ–¥–ø–æ–ª–∞–≥–∞—é**

—á—Ç–æ —Å—Ç–æ–∏—Ç –∑–∞–º–µ–Ω–∏—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –≤—ã—Å–æ—Ç—É –ø–æ—Ç–æ–ª–∫–æ–≤ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç—Ç–∞–∂–µ–π –Ω–∞ –º–µ–¥–∏–∞–Ω—É —Ä–∞–π–æ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π.

### `'locality_name'` ‚Äî —Å–Ω–∞—á–∞–ª–∞ —É–¥–∞–ª–∏–º –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã

func to reduce dublicates

In [25]:
# print(correct_name('–ø–æ—Å–µ–ª–æ–∫ –ú—É—Ä–∏–Ω–æ'))

In [26]:
real_estate_data['locality_name'].fillna('–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', inplace=True)

In [27]:
# print(real_estate_data['locality_name'].mode())


print(len(real_estate_data['locality_name'].unique()))
real_estate_data['locality_name'] = real_estate_data['locality_name'].apply(correct_name)

# display(
#     real_estate_data['locality_name'].unique()[:5]
# )
print(len(real_estate_data['locality_name'].unique()))

# display(
#     list(real_estate_data['locality_name'].unique())
# )

364
330

type of location:
'–¥–µ—Ä–µ–≤–Ω—è'
'—Å–∞–¥–æ–≤–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ'
'–≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫'
'–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞'
'–∫–æ—Ç—Ç–µ–¥–∂–Ω—ã–π –ø–æ—Å—ë–ª–æ–∫'
'–ø–æ—Å—ë–ª–æ–∫ –ø—Ä–∏ –∂–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–æ–π —Å—Ç–∞–Ω—Ü–∏–∏'
'–ø–æ—Å—ë–ª–æ–∫ —Å—Ç–∞–Ω—Ü–∏–∏'
'–ø–æ—Å—ë–ª–æ–∫'
'—Å–µ–ª–æ'
'—Å–∞–¥–æ–≤–æ–¥—á–µ—Å–∫–æ–µ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ'

In [28]:
real_estate_data['locality_name'].describe()

count               23699
unique                330
top       –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥
freq                15770
Name: locality_name, dtype: object

In [29]:
real_estate_data['locality_name'], real_estate_data['locality_type'] = (
    zip(*real_estate_data['locality_name'].apply(name_n_type))
)

In [30]:
display(
    real_estate_data.head()
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,locality_type
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,False,False,25.0,108.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN,–≥–æ—Ä–æ–¥
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,False,False,11.0,2.0,–®—É—à–∞—Ä—ã,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0,–ø–æ—Å—ë–ª–æ–∫
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,False,False,8.3,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0,–≥–æ—Ä–æ–¥
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,False,False,NaN,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0,–≥–æ—Ä–æ–¥
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,False,False,41.0,108.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0,–≥–æ—Ä–æ–¥

In [31]:
display(
    real_estate_data['locality_type'].unique()
)

array(['–≥–æ—Ä–æ–¥', '–ø–æ—Å—ë–ª–æ–∫', '–≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫', '–¥–µ—Ä–µ–≤–Ω—è',
       '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞', '—Å–∞–¥–æ–≤–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ', '—Å–µ–ª–æ',
       '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –∏–º–µ–Ω–∏', '–ø–æ—Å—ë–ª–æ–∫ —Å—Ç–∞–Ω—Ü–∏–∏',
       '—Å–∞–¥–æ–≤–æ–¥—á–µ—Å–∫–æ–µ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ',
       '–ø–æ—Å—ë–ª–æ–∫ 69-–π –∫–∏–ª–æ–º–µ—Ç—Ä', '–ø–æ—Å—ë–ª–æ–∫ –ø—Ä–∏ –∂–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–æ–π —Å—Ç–∞–Ω—Ü–∏–∏',
       '–∫–æ—Ç—Ç–µ–¥–∂–Ω—ã–π –ø–æ—Å—ë–ª–æ–∫'], dtype=object)

In [32]:
real_estate_data.loc[real_estate_data['locality_name'] == '–ø–æ—Å—ë–ª–æ–∫ 69-–π –∫–∏–ª–æ–º–µ—Ç—Ä', 'locality_name'] = '69-–π –∫–∏–ª–æ–º–µ—Ç—Ä'
real_estate_data.loc[real_estate_data['locality_type'] == '–ø–æ—Å—ë–ª–æ–∫ 69-–π –∫–∏–ª–æ–º–µ—Ç—Ä', 'locality_type'] = '–ø–æ—Å—ë–ª–æ–∫'

In [33]:
display(
    real_estate_data['locality_type'].unique()
)

array(['–≥–æ—Ä–æ–¥', '–ø–æ—Å—ë–ª–æ–∫', '–≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫', '–¥–µ—Ä–µ–≤–Ω—è',
       '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞', '—Å–∞–¥–æ–≤–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ', '—Å–µ–ª–æ',
       '–ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –∏–º–µ–Ω–∏', '–ø–æ—Å—ë–ª–æ–∫ —Å—Ç–∞–Ω—Ü–∏–∏',
       '—Å–∞–¥–æ–≤–æ–¥—á–µ—Å–∫–æ–µ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ',
       '–ø–æ—Å—ë–ª–æ–∫ –ø—Ä–∏ –∂–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–æ–π —Å—Ç–∞–Ω—Ü–∏–∏', '–∫–æ—Ç—Ç–µ–¥–∂–Ω—ã–π –ø–æ—Å—ë–ª–æ–∫'],
      dtype=object)

In [34]:
locality_type_series = pd.Series(real_estate_data['locality_type'].unique())
display(
    locality_type_series
)

0                                         –≥–æ—Ä–æ–¥
1                                       –ø–æ—Å—ë–ª–æ–∫
2                             –≥–æ—Ä–æ–¥—Å–∫–æ–π –ø–æ—Å—ë–ª–æ–∫
3                                       –¥–µ—Ä–µ–≤–Ω—è
4                       –ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞
5                          —Å–∞–¥–æ–≤–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ
6                                          —Å–µ–ª–æ
7                 –ø–æ—Å—ë–ª–æ–∫ –≥–æ—Ä–æ–¥—Å–∫–æ–≥–æ —Ç–∏–ø–∞ –∏–º–µ–Ω–∏
8                               –ø–æ—Å—ë–ª–æ–∫ —Å—Ç–∞–Ω—Ü–∏–∏
9     —Å–∞–¥–æ–≤–æ–¥—á–µ—Å–∫–æ–µ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–µ —Ç–æ–≤–∞—Ä–∏—â–µ—Å—Ç–≤–æ
10          –ø–æ—Å—ë–ª–æ–∫ –ø—Ä–∏ –∂–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–æ–π —Å—Ç–∞–Ω—Ü–∏–∏
11                           –∫–æ—Ç—Ç–µ–¥–∂–Ω—ã–π –ø–æ—Å—ë–ª–æ–∫
dtype: object

In [35]:
real_estate_data['locality_type'] = (
    real_estate_data['locality_type'].apply(lambda x: 
        list(locality_type_series[locality_type_series == x].index)[0]
    )
)

In [36]:
display(
    real_estate_data.head()
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,locality_type
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,False,False,25.0,108.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN,0
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,False,False,11.0,2.0,–®—É—à–∞—Ä—ã,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0,1
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,False,False,8.3,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0,0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,False,False,NaN,0.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0,0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,False,False,41.0,108.0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0,0

In [37]:
display(
    real_estate_data['locality_type'].unique()
)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [38]:
real_estate_data = real_estate_data.astype(
    {
        'locality_name': 'category',
        'locality_type': 'category',
        # 'balcony': 'uint8',
    }
)

why there is no inplace parameter in astype

In [39]:
display(
    real_estate_data['balcony'].unique()
)

array([108.,   2.,   0.,   1.,   5.,   4.,   3.])

In [40]:
display(
    real_estate_data.groupby(by=['locality_type'])['balcony'].median()
)
# ['balcony'].median()

locality_type
0       5.0
1       2.0
2     108.0
3       2.0
4       4.5
5      54.5
6     108.0
7       2.0
8     108.0
9     108.0
10    108.0
11      1.0
Name: balcony, dtype: float64

In [41]:
display(
    real_estate_data.columns
)

Index(['total_images', 'last_price', 'total_area', 'first_day_exposition',
       'rooms', 'ceiling_height', 'floors_total', 'living_area', 'floor',
       'is_apartment', 'studio', 'open_plan', 'kitchen_area', 'balcony',
       'locality_name', 'airports_nearest', 'city_centers_nearest',
       'parks_around3000', 'parks_nearest', 'ponds_around3000',
       'ponds_nearest', 'days_exposition', 'locality_type'],
      dtype='object')

In [42]:
types_na_balcony = (
    list(real_estate_data['locality_type']
             .loc[real_estate_data['balcony'] == 108]
             .unique())
)

for type_loc in types_na_balcony:
    
    balcony_mode_by_type = (
        real_estate_data
            .loc[(real_estate_data['locality_type'] == type_loc)
                & ~(real_estate_data['balcony'] == 108), ['balcony']]
            .mode()
    )
    
    if len(balcony_mode_by_type.index) == 0:
        balcony_mode_by_type = 0
    elif len(balcony_mode_by_type.index) == 1:
        balcony_mode_by_type = balcony_mode_by_type.iloc[0].item()
    else:
        balcony_mode_by_type = balcony_mode_by_type.sample().iloc[0].item()
    
    real_estate_data.loc[(real_estate_data['locality_type'] == type_loc)
                & (real_estate_data['balcony'] == 108), 'balcony'] = (
        real_estate_data
            .loc[(real_estate_data['locality_type'] == type_loc)
                & (real_estate_data['balcony'] == 108), 'balcony']
            .apply(lambda x: balcony_mode_by_type if bool(random.getrandbits(1)) else 0)
    )

In [43]:
display(
    real_estate_data['balcony'].unique()
)

array([0., 2., 1., 5., 4., 3.])

In [44]:
real_estate_data = real_estate_data.astype(
    {
        'balcony': 'uint8',
    }
)

In [45]:
display(
    real_estate_data['balcony'].info()
)

<class 'pandas.core.series.Series'>
RangeIndex: 23699 entries, 0 to 23698
Series name: balcony
Non-Null Count  Dtype
--------------  -----
23699 non-null  uint8
dtypes: uint8(1)
memory usage: 23.3 KB

None

    ‚ùå 'ceiling_height' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É

In [46]:
types_na_ceiling = (
    list(real_estate_data['locality_type']
             .loc[real_estate_data['ceiling_height'].isna()]
             .unique())
)

for type_ceiling in types_na_ceiling:
    
    ceiling_median_by_type = (
        real_estate_data
            .loc[(real_estate_data['locality_type'] == type_ceiling)
                & ~(real_estate_data['ceiling_height'].isna()), 'ceiling_height']
            .median()
    )
    
    if math.isnan(ceiling_median_by_type):
        ceiling_median_by_type = real_estate_data['ceiling_height'].median()

    real_estate_data.loc[
        real_estate_data['locality_type'] == type_ceiling, 
        'ceiling_height'
    ] = real_estate_data.loc[
            real_estate_data['locality_type'] == type_ceiling, 
            'ceiling_height'
        ].fillna(value=ceiling_median_by_type)

# somehow .fillna(inplace=True) didn't work

In [47]:
real_estate_data['ceiling_height'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 23699 entries, 0 to 23698
Series name: ceiling_height
Non-Null Count  Dtype
--------------  -----
23699 non-null  float64
dtypes: float64(1)
memory usage: 185.3 KB

In [48]:
# display(
#     sorted(real_estate_data['ceiling_height'].unique())
# )

In [49]:
display(
    real_estate_data['ceiling_height'].describe()
)

count    23699.000000
mean         2.721105
std          0.988643
min          1.000000
25%          2.600000
50%          2.650000
75%          2.700000
max        100.000000
Name: ceiling_height, dtype: float64

In [50]:
types_odd_ceiling = (
    list(real_estate_data.loc[
            (real_estate_data['ceiling_height'] <= 2)
            | (real_estate_data['ceiling_height'] > 60)
            | ((real_estate_data['ceiling_height'] > 6)
                & (real_estate_data['ceiling_height'] < 20)
              ), 'locality_type'
        ].unique()
    )
)


for type_ceiling in types_odd_ceiling:
    
    ceiling_median_by_type = (
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_ceiling)
                & (real_estate_data['ceiling_height'] <= 6)
                & (real_estate_data['ceiling_height'] > 2)
            , 'ceiling_height'
        ].median()
    )

    display(ceiling_median_by_type)
    
    
    if math.isnan(ceiling_median_by_type):
        ceiling_median_by_type = real_estate_data['ceiling_height'].median()

    real_estate_data.loc[
            (real_estate_data['locality_type'] == type_ceiling)
            & (real_estate_data['ceiling_height'] <= 2)
            | (real_estate_data['ceiling_height'] > 60)
            | ((real_estate_data['ceiling_height'] > 6)
                & (real_estate_data['ceiling_height'] < 20)
              )
            , 'ceiling_height'
    ] = ceiling_median_by_type

2.65

2.65

2.56

2.6

In [51]:
display(
    real_estate_data['ceiling_height'].describe()
)

count    23699.000000
mean         2.715745
std          0.751619
min          2.200000
25%          2.600000
50%          2.650000
75%          2.700000
max         32.000000
Name: ceiling_height, dtype: float64

In [52]:
real_estate_data.loc[
            (real_estate_data['ceiling_height'] >= 20)
            & (real_estate_data['ceiling_height'] <= 60)
            , 'ceiling_height'
] = real_estate_data.loc[
            (real_estate_data['ceiling_height'] >= 20)
            & (real_estate_data['ceiling_height'] <= 60)
            , 'ceiling_height'
    ].apply(lambda x: x / 10)

In [53]:
display(
    real_estate_data['ceiling_height'].describe()
)

count    23699.000000
mean         2.693905
std          0.221764
min          2.000000
25%          2.600000
50%          2.650000
75%          2.700000
max          6.000000
Name: ceiling_height, dtype: float64

    ‚ùå 'floors_total' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ä–∞–π–æ–Ω—É

In [54]:
display(
    real_estate_data.loc[
        real_estate_data['floors_total'].isna()
    ].groupby(by='floor')['floor'].count()
)

floor
1      3
2      2
3      4
4     10
5      4
6      9
7      4
8      8
9      5
10     3
11     3
12     6
13     3
14     2
15     3
17     1
18     3
19     3
20     2
21     4
22     1
23     1
24     2
Name: floor, dtype: int64

seems missing `'floors_total'` not depends on `'floor'`

In [55]:
display(
    real_estate_data.loc[real_estate_data['floor'] > real_estate_data['floors_total']]
)

Empty DataFrame
Columns: [total_images, last_price, total_area, first_day_exposition, rooms, ceiling_height, floors_total, living_area, floor, is_apartment, studio, open_plan, kitchen_area, balcony, locality_name, airports_nearest, city_centers_nearest, parks_around3000, parks_nearest, ponds_around3000, ponds_nearest, days_exposition, locality_type]
Index: []

In [56]:
display(
    real_estate_data.loc[
        real_estate_data['floors_total'].isna()
    ].sample(n=10)
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,locality_type
14094,5,3290000.0,33.00,2018-02-01T00:00:00,1,2.65,NaN,NaN,17,False,False,False,NaN,0,–ù–æ–≤–æ–µ –î–µ–≤—è—Ç–∫–∏–Ω–æ,NaN,NaN,NaN,NaN,NaN,NaN,440.0,3
20146,16,3850000.0,36.00,2018-10-12T00:00:00,1,2.60,NaN,19.00,15,False,False,False,8.5,1,–°—Ç—Ä–µ–ª—å–Ω–∞,28276.0,23454.0,0.0,NaN,0.0,NaN,183.0,1
671,4,6051191.0,93.60,2017-04-06T00:00:00,3,2.65,NaN,47.10,8,False,False,False,16.8,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,22041.0,17369.0,0.0,NaN,1.0,374.0,123.0,0
17498,4,4252249.0,60.20,2017-04-01T00:00:00,2,2.65,NaN,31.80,13,False,False,False,12.1,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,22041.0,17369.0,0.0,NaN,1.0,374.0,128.0,0
12399,0,2895000.0,29.61,2019-01-29T00:00:00,1,2.65,NaN,14.16,4,False,False,False,9.1,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,19533.0,18535.0,1.0,375.0,0.0,NaN,NaN,0
10259,1,3440000.0,44.83,2016-05-25T00:00:00,2,2.60,NaN,NaN,5,False,False,False,NaN,0,–ú—É—Ä–∏–Ω–æ,51553.0,21888.0,0.0,NaN,2.0,133.0,46.0,1
22542,5,8500000.0,63.50,2017-05-24T00:00:00,2,2.80,NaN,NaN,3,False,False,False,NaN,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,51340.0,15363.0,0.0,NaN,1.0,853.0,512.0,0
10351,4,5380992.0,110.72,2015-10-09T00:00:00,4,2.55,NaN,80.39,4,False,False,False,NaN,0,–¢–æ–∫—Å–æ–≤–æ,NaN,NaN,NaN,NaN,NaN,NaN,251.0,4
3438,10,4100000.0,38.00,2018-04-14T00:00:00,1,2.65,NaN,19.00,12,False,False,False,10.3,0,–ö—É–¥—Ä–æ–≤–æ,NaN,NaN,NaN,NaN,NaN,NaN,95.0,0
12104,10,3182400.0,35.36,2018-10-01T00:00:00,1,2.65,NaN,10.00,7,False,False,False,NaN,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,47303.0,25866.0,1.0,251.0,1.0,350.0,145.0,0

In [57]:
types_na_flrs_ttl = (
    list(real_estate_data.loc[
            (real_estate_data['floors_total'].isna())
            , 'locality_type'
        ].unique()
    )
)

print(types_na_flrs_ttl)

for type_flrs_ttl in types_na_flrs_ttl:
    
    flrs_ttl_median_by_type = (
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_flrs_ttl)
            & ~(real_estate_data['floors_total'].isna())
            , 'floors_total'
        ].median()
    )

    print(flrs_ttl_median_by_type)
    
    
    if math.isnan(flrs_ttl_median_by_type):
        flrs_ttl_median_by_type = real_estate_data['floors_total'].median()
        print('NAN—ã', flrs_ttl_median_by_type)
        
#     real_estate_data.loc[
#         (real_estate_data['locality_type'] == type_flrs_ttl)
#         & (real_estate_data['floors_total'].isna())
#         , 'floors_total'
#     ].fillna(value=flrs_ttl_median_by_type, inplace=True)
    
    real_estate_data.loc[
            (real_estate_data['locality_type'] == type_flrs_ttl)
            & (real_estate_data['floors_total'].isna())
            , 'floors_total'
    ] = flrs_ttl_median_by_type
    
    # real_estate_data.loc[
    #     (real_estate_data['locality_type'] == type_flrs_ttl)
    #     & (real_estate_data['floors_total'].isna())
    #     , 'floors_total'
    # ] = real_estate_data.loc[
    #         (real_estate_data['locality_type'] == type_flrs_ttl)
    #         & (real_estate_data['floors_total'].isna())
    #         , 'floors_total'
    #     ].fillna(value=flrs_ttl_median_by_type)

[0, 1, 2, 4, 3]
9.0
12.0
5.0
5.0
9.0

ü§¶‚Äç‚ôÇÔ∏è

In [58]:
#     why ‚Üì it's not working in for loop!?
    
    # real_estate_data.loc[
    #     (real_estate_data['locality_type'] == type_flrs_ttl)
    #     & (real_estate_data['floors_total'].isna())
    #     , 'floors_total'
    # ].fillna(value=flrs_ttl_median_by_type, inplace=True)

In [59]:
display(
    # real_estate_data.loc[
    #     real_estate_data['floors_total'].isna()
    # ].sample(n=10)
    
        real_estate_data['floors_total'].describe(),
        real_estate_data['floors_total'].info()
)

<class 'pandas.core.series.Series'>
RangeIndex: 23699 entries, 0 to 23698
Series name: floors_total
Non-Null Count  Dtype
--------------  -----
23699 non-null  float64
dtypes: float64(1)
memory usage: 185.3 KB

count    23699.000000
mean        10.668425
std          6.586123
min          1.000000
25%          5.000000
50%          9.000000
75%         16.000000
max         60.000000
Name: floors_total, dtype: float64

None

In [60]:
display(
    real_estate_data.loc[real_estate_data['floor'] > real_estate_data['floors_total'], 'floor'].describe()
)

count    36.000000
mean     16.166667
std       4.358899
min      10.000000
25%      12.000000
50%      15.000000
75%      20.000000
max      24.000000
Name: floor, dtype: float64

In [61]:
real_estate_data.loc[
    (real_estate_data['floor'] > real_estate_data['floors_total'])
    , 'floor'
] = real_estate_data.loc[
        (real_estate_data['floor'] > real_estate_data['floors_total'])
        , 'floors_total'
    ]

In [62]:
display(
    real_estate_data.loc[real_estate_data['floor'] > real_estate_data['floors_total'], 'floor'].count()
)

0

In [63]:
real_estate_data = real_estate_data.astype(
    {
        'floors_total': 'uint8',
    }
)

    ‚ùå 'living_area' ‚Äî —Å–¥–µ–ª–∞–µ–º `NaN` –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ –¥–∏–∞–ø–∞–∑–æ–Ω–∞–º —Ü–µ–Ω –∏ —Ä–∞–π–æ–Ω—É

In [64]:
# display(
#     real_estate_data.loc[
#         real_estate_data['living_area'].isna()
#         , 'floor'
#     ].count()
# )

In [65]:
display(
    real_estate_data['total_area'].describe()
)

count    23699.000000
mean        60.348651
std         35.654083
min         12.000000
25%         40.000000
50%         52.000000
75%         69.900000
max        900.000000
Name: total_area, dtype: float64

In [66]:
display(
    real_estate_data.loc[
        real_estate_data['total_area'] > 450
    ]
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,locality_type
660,3,49950000.0,483.9,2017-10-04T00:00:00,7,3.20,6,312.5,4,False,False,False,26.4,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,23079.0,945.0,3.0,461.0,3.0,22.0,391.0,0
3117,19,140000000.0,631.0,2019-03-30T00:00:00,7,2.65,5,NaN,5,False,False,False,60.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,25707.0,4972.0,0.0,NaN,2.0,210.0,NaN,0
4237,1,50000000.0,517.0,2017-10-14T00:00:00,7,2.65,4,332.0,3,False,False,False,22.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,22835.0,1847.0,2.0,477.0,2.0,540.0,NaN,0
5358,20,65000000.0,590.0,2019-02-14T00:00:00,15,3.50,6,409.0,3,False,False,False,100.0,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,24447.0,4666.0,1.0,767.0,0.0,NaN,14.0,0
5893,3,230000000.0,500.0,2017-05-31T00:00:00,6,2.65,7,NaN,7,False,False,False,40.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,32440.0,5297.0,0.0,NaN,2.0,198.0,50.0,0
6221,8,34000000.0,470.3,2018-01-14T00:00:00,4,2.65,3,248.7,3,False,False,False,40.0,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,43756.0,15459.0,1.0,852.0,3.0,122.0,179.0,0
6621,20,99000000.0,488.0,2017-04-09T00:00:00,5,2.95,20,216.0,17,False,False,False,50.0,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,27641.0,4598.0,1.0,646.0,1.0,368.0,351.0,0
8018,20,84000000.0,507.0,2015-12-17T00:00:00,5,4.45,7,301.5,7,True,False,False,45.5,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,NaN,5735.0,2.0,110.0,0.0,NaN,1078.0,0
9826,1,43185328.0,494.1,2017-05-12T00:00:00,1,2.85,12,NaN,3,False,False,False,NaN,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,28529.0,6832.0,1.0,592.0,0.0,NaN,5.0,0
12401,20,91500000.0,495.0,2017-06-19T00:00:00,7,4.65,7,347.5,7,False,False,False,25.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,NaN,5735.0,2.0,110.0,0.0,NaN,14.0,0
12859,20,140000000.0,631.2,2019-04-09T00:00:00,7,3.90,4,322.3,4,False,False,False,19.5,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,25707.0,4972.0,0.0,NaN,2.0,210.0,NaN,0
15016,8,150000000.0,500.0,2016-01-13T00:00:00,4,3.20,7,NaN,7,False,False,False,NaN,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,33058.0,6150.0,3.0,209.0,3.0,531.0,303.0,0
15651,20,300000000.0,618.0,2017-12-18T00:00:00,7,3.40,7,258.0,5,False,False,False,70.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,32440.0,5297.0,0.0,NaN,2.0,198.0,111.0,0
19540,8,420000000.0,900.0,2017-12-06T00:00:00,12,2.80,25,409.7,25,False,False,False,112.0,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,30706.0,7877.0,0.0,NaN,2.0,318.0,106.0,0
20273,12,20000000.0,460.8,2019-03-20T00:00:00,6,3.10,3,279.6,1,False,False,False,55.5,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,43756.0,15459.0,1.0,852.0,3.0,122.0,21.0,0
22494,7,91075000.0,491.0,2017-05-27T00:00:00,5,4.20,9,274.0,9,False,False,False,45.0,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,25525.0,5845.0,2.0,116.0,0.0,NaN,115.0,0

In [67]:
display(
    real_estate_data['living_area'].describe()
)

count    21796.000000
mean        34.457852
std         22.030445
min          2.000000
25%         18.600000
50%         30.000000
75%         42.300000
max        409.700000
Name: living_area, dtype: float64

# SKIPED

types_na_living_area = (
    list(real_estate_data.loc[
            (real_estate_data['living_area'].isna())
            , 'locality_type'
        ].unique()
    )
)

print(types_na_living_area)

for type_living_area in types_na_living_area:
    
    living_area_median_by_type = (
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & ~(real_estate_data['living_area'].isna())
            , 'living_area'
        ].median()
    )

    print(living_area_median_by_type)
    
    
    if math.isnan(living_area_median_by_type):
        living_area_median_by_type = real_estate_data['living_area'].median()
        print('NAN—ã')
        
    real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & (real_estate_data['living_area'].isna())
            , 'living_area'
    ] = living_area_median_by_type


#     ¬Ø\_„ÉÑ_/¬Ø ‚Üí inplace=True

    # real_estate_data.loc[
    #     (real_estate_data['locality_type'] == type_living_area)
    #     & (real_estate_data['living_area'].isna())
    #        , 'living_area'
    # ].fillna(value=living_area_median_by_type, inplace=True)
    
    # real_estate_data.loc[
    #     real_estate_data['locality_type'] == type_living_area
    #        , 'living_area'
    # ].fillna(value=living_area_median_by_type, inplace=True)

In [68]:
types_na_living_area = (
    list(real_estate_data.loc[
            (real_estate_data['living_area'].isna())
            , 'locality_type'
        ].unique()
    )
)


for type_living_area in types_na_living_area:
    
    living_area_median_by_type = (
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & ~(real_estate_data['living_area'].isna())
            , 'living_area'
        ].median()
    )
    
    living_part_median_by_type = round(pd.Series(
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & (real_estate_data['living_area'] > 8)
            & ~(real_estate_data['living_area'].isna())
            , 'living_area'
        ] / real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & (real_estate_data['living_area'] > 8)
            & ~(real_estate_data['living_area'].isna())
            , 'total_area'
        ]
    ).median(), 2)

    if math.isnan(living_area_median_by_type):
        living_area_median_by_type = real_estate_data['living_area'].median()
        print('NAN—ã')
        
    real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & ((real_estate_data['living_area'].isna())
            | (real_estate_data['living_area'] < 8))
            , 'living_area'
    ] = real_estate_data.loc[
            (real_estate_data['locality_type'] == type_living_area)
            & ((real_estate_data['living_area'].isna())
            | (real_estate_data['living_area'] < 8))
            , 'total_area'
        ].apply(lambda x: x * living_part_median_by_type)

In [69]:
display(
    real_estate_data['living_area'].describe()
)

count    23699.000000
mean        34.579383
std         22.347244
min          7.410000
25%         19.000000
50%         30.000000
75%         42.100000
max        409.700000
Name: living_area, dtype: float64

‚ùå 'kitchen_area' ‚Äî –µ—Å–ª–∏ —Å—Ç—É–¥–∏—è —Ç–æ –∫—É—Ö–Ω—è `NaN` –ø—Ä–æ–≤–µ—Ä–∏–º, –µ—Å–ª–∏ –¥–∞ —Ç–æ —Å–¥–µ–ª–∞–µ–º 0

In [70]:
display(
    real_estate_data.loc[real_estate_data['kitchen_area'].isna()
                         , 'living_area'].count()
)

2278

In [71]:
display(
    real_estate_data.loc[
        (real_estate_data['kitchen_area'].isna())
        & (real_estate_data['studio'])
        , 'living_area'
    ].count()
)

149

In [72]:
display(
    real_estate_data.loc[
        ~ (real_estate_data['kitchen_area'].isna())
        & (real_estate_data['studio'])
        , 'living_area'
    ].count()
)

0

üòè

In [73]:
display(
    real_estate_data.loc[
        (real_estate_data['kitchen_area'].isna())
        & (real_estate_data['is_apartment'])
        , 'living_area'
    ].count()
)

15

In [74]:
display(
    real_estate_data.loc[
        ~ (real_estate_data['kitchen_area'].isna())
        & (real_estate_data['is_apartment'])
    ].sample(10)
)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,locality_type
11779,12,2290000.0,43.00,2017-06-09T00:00:00,2,2.50,5,29.00,2,True,False,False,5.00,1,–©–µ–≥–ª–æ–≤–æ,NaN,NaN,NaN,NaN,NaN,NaN,46.0,1
20534,18,3600000.0,31.23,2016-04-13T00:00:00,1,2.80,23,15.00,11,True,False,False,10.00,2,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,33705.0,14883.0,0.0,NaN,0.0,NaN,767.0,0
8018,20,84000000.0,507.00,2015-12-17T00:00:00,5,4.45,7,301.50,7,True,False,False,45.50,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,NaN,5735.0,2.0,110.0,0.0,NaN,1078.0,0
5076,0,3850000.0,30.50,2018-10-03T00:00:00,1,2.40,5,19.50,1,True,False,False,5.50,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,29686.0,8389.0,3.0,397.0,1.0,578.0,7.0,0
10390,18,30000000.0,137.00,2018-08-07T00:00:00,3,3.00,5,90.00,4,True,False,False,12.00,0,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,23832.0,1285.0,3.0,374.0,3.0,32.0,34.0,0
2975,9,4931398.0,42.90,2018-07-23T00:00:00,1,3.15,4,20.39,3,True,False,False,10.29,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,44870.0,20802.0,0.0,NaN,1.0,792.0,273.0,0
7206,7,5289476.0,46.90,2018-07-18T00:00:00,1,3.15,4,16.47,2,True,False,False,14.46,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,44870.0,20802.0,0.0,NaN,1.0,792.0,278.0,0
7521,16,43500000.0,245.80,2015-12-17T00:00:00,3,4.45,7,170.80,7,True,False,False,25.00,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,NaN,5735.0,2.0,110.0,0.0,NaN,1067.0,0
11492,1,46424072.0,92.40,2014-12-09T00:00:00,2,2.65,6,54.80,6,True,False,False,20.00,1,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,21860.0,318.0,2.0,160.0,3.0,569.0,1030.0,0
19017,12,4887000.0,52.40,2018-03-19T00:00:00,1,3.10,4,24.70,2,True,False,False,11.70,5,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,44870.0,20802.0,0.0,NaN,1.0,792.0,113.0,0

In [75]:
real_estate_data.loc[
        (real_estate_data['kitchen_area'].isna())
        & ((real_estate_data['studio'])
          | (real_estate_data['is_apartment']))
        , 'kitchen_area'
] = 0

In [76]:
types_na_kitchen_area = (
    list(real_estate_data.loc[
            (real_estate_data['kitchen_area'].isna())
            , 'locality_type'
        ].unique()
    )
)

for type_kitchen_area in types_na_kitchen_area:
    
    kitchen_area_part_mdn_by_type = round(pd.Series(
        real_estate_data.loc[
            (real_estate_data['locality_type'] == type_kitchen_area)
            & ~(real_estate_data['kitchen_area'].isna())
            , 'kitchen_area'
        ] / real_estate_data.loc[
            (real_estate_data['locality_type'] == type_kitchen_area)
            & ~(real_estate_data['kitchen_area'].isna())
            , 'total_area'
        ]
    ).median(), 2)
    
    if math.isnan(kitchen_area_part_mdn_by_type):
        print('NAN—ã kitchen_area_part_mdn_by_type', type_kitchen_area)
        
    real_estate_data.loc[
            (real_estate_data['locality_type'] == type_kitchen_area)
            & (real_estate_data['kitchen_area'].isna())
            , 'kitchen_area'
    ] = real_estate_data.loc[
            (real_estate_data['locality_type'] == type_kitchen_area)
            & (real_estate_data['kitchen_area'].isna())
            , 'total_area'
        ].apply(lambda x: x * kitchen_area_part_mdn_by_type)

In [77]:
display(
    real_estate_data['kitchen_area'].describe()
)

count    23699.000000
mean        10.460818
std          6.062755
min          0.000000
25%          7.000000
50%          9.000000
75%         12.000000
max        112.000000
Name: kitchen_area, dtype: float64

‚ùå 'airports_nearest' ‚Äî –ø—Ä–æ–≤–µ—Ä–∏–º –ø–æ —Ä–∞–π–æ–Ω–∞–º, –º–æ–∂–µ—Ç –∏ –Ω–µ—Ç –±–ª–∏–∂–∞–π—à–∏—Ö –∞—ç—Ä–æ–ø–æ—Ä—Ç–æ–≤ —Ç–æ–≥–¥–∞ `NaN` = 0

In [78]:
display(
    real_estate_data['airports_nearest'].describe()
)

count    18157.000000
mean     28793.672193
std      12630.880622
min          0.000000
25%      18585.000000
50%      26726.000000
75%      37273.000000
max      84869.000000
Name: airports_nearest, dtype: float64

In [79]:
display(
    real_estate_data['airports_nearest'].info()
)

<class 'pandas.core.series.Series'>
RangeIndex: 23699 entries, 0 to 23698
Series name: airports_nearest
Non-Null Count  Dtype
--------------  -----
18157 non-null  float64
dtypes: float64(1)
memory usage: 185.3 KB

None

In [80]:
display(
    real_estate_data.loc[
        real_estate_data['airports_nearest'].isna()
        , 'locality_type'
    ].unique()
)

[2, 1, 0, 3, 4, ..., 7, 8, 9, 10, 11]
Length: 12
Categories (12, int64): [0, 1, 2, 3, ..., 8, 9, 10, 11]

In [81]:
real_estate_data.loc[
    real_estate_data['airports_nearest'] <= 1000
] = np.nan

In [82]:
names_na_airprts_nrst = (
    list(real_estate_data.loc[
            (real_estate_data['airports_nearest'].isna())
            , 'locality_name'
        ].unique()
    )
)

for name_airprts_nrst in names_na_airprts_nrst:
    
    airprts_nrst_median_by_names = (
        real_estate_data.loc[
            (real_estate_data['locality_name'] == name_airprts_nrst)
            & ~(real_estate_data['airports_nearest'].isna())
            , 'airports_nearest'
        ].median()
    )

    if math.isnan(airprts_nrst_median_by_names):
        
        type_airprts_nrst = real_estate_data.loc[
                (real_estate_data['locality_name'] == name_airprts_nrst)
                , 'locality_type'
            ].iloc[0].item()
        try:
            airprts_nrst_median_by_names = real_estate_data.loc[
                    (real_estate_data['locality_type'] == type_airprts_nrst)
                    , 'airports_nearest'
                ].median(skipna=True)
        except RuntimeWarning:
            airprts_nrst_median_by_names = np.nan
        
    real_estate_data.loc[
            (real_estate_data['locality_name'] == name_airprts_nrst)
            & (real_estate_data['airports_nearest'].isna())
            , 'airports_nearest'
    ] = airprts_nrst_median_by_names

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

IndexError: single positional indexer is out-of-bounds

In [84]:
display(
    real_estate_data['airports_nearest'].describe()
)

count    18157.000000
mean     28793.672193
std      12630.880622
min          0.000000
25%      18585.000000
50%      26726.000000
75%      37273.000000
max      84869.000000
Name: airports_nearest, dtype: float64

In [ ]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()]['is_apartment'].unique()
)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()]['is_apartment'].count()
)

–¢–∞–∫, –ø–æ—Ö–æ–∂–µ, —á—Ç–æ —É –≤—Å–µ—Ö `'locality_name'` = `NaN`, `'is_apartment'` = `False`

In [ ]:
display(
    len(real_estate_data.loc[real_estate_data['parks_around3000'].isna()]['parks_nearest']),
    len(real_estate_data.loc[real_estate_data['parks_around3000'] == 0]['parks_nearest'].unique()),
    (real_estate_data.loc[(real_estate_data['parks_around3000'] == 0)
                             and (real_estate_data['parks_nearest'].isna())]['rooms'].count()),
    
)

In [ ]:
real_estate_data['first_day_exposition'] = pd.to_datetime(real_estate_data['first_day_exposition'], format='%d/%m/%YT%h%m%s')

In [ ]:
display(
    real_estate_data['first_day_exposition'].describe()
)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['locality_name'].isna()].head()
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique(),
    len(real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique())
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    
    real_estate_data['cityCenters_nearest'] = (
        real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique()
    ),
    len(real_estate_data.loc[real_estate_data['cityCenters_nearest'].isna()]['locality_name'].unique())
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

In [ ]:
display(
    real_estate_data.loc[real_estate_data['studio'] == True].head(),
    len(real_estate_data.loc[real_estate_data['studio'] == True])
)
#real_estate_data['locality_name'].fillna(value=False, inplace=True)

`ceiling_height` ‚Äî –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–º–µ–Ω–∏–º –º–µ–¥–∏–∞–Ω–æ–π –ø–æ —Ä–∞–π–æ–Ω—É `locality_name`

In [ ]:
display(real_estate_data.info())

–ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –Ω—É–∂–Ω—ã–º —Ç–∏–ø–∞–º:
–ü–æ—è—Å–Ω–∏—Ç–µ, –≤ –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –Ω—É–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É.

In [ ]:
real_estate_data.astype(
        {
            'total_images': 'uint16',
            'rooms':'uint8',
            'ceiling_height':'float16',
            'floors_total':'uint16',
            'floor':'int16',
            'parks_around3000':'uint8',
            'ponds_around3000':'uint8',
            'is_apartment': 'bool',
        }
    ).dtypes

## –®–∞–≥ 3. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∏ –¥–æ–±–∞–≤—å—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü—É

—Ü–µ–Ω—É –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞;
–¥–µ–Ω—å –Ω–µ–¥–µ–ª–∏, –º–µ—Å—è—Ü –∏ –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏—è;
—ç—Ç–∞–∂ –∫–≤–∞—Ä—Ç–∏—Ä—ã; –≤–∞—Ä–∏–∞–Ω—Ç—ã ‚Äî –ø–µ—Ä–≤—ã–π, –ø–æ—Å–ª–µ–¥–Ω–∏–π, –¥—Ä—É–≥–æ–π;
—Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∂–∏–ª–æ–π –∏ –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏, –∞ —Ç–∞–∫–∂–µ –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –ø–ª–æ—â–∞–¥–∏ –∫—É—Ö–Ω–∏ –∫ –æ–±—â–µ–π.

## –®–∞–≥ 4. –ü—Ä–æ–≤–µ–¥–∏—Ç–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

–ò–∑—É—á–∏—Ç–µ —Å–ª–µ–¥—É—é—â–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã: –ø–ª–æ—â–∞–¥—å, —Ü–µ–Ω–∞, —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º—ã –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞.
–ò–∑—É—á–∏—Ç–µ –≤—Ä–µ–º—è –ø—Ä–æ–¥–∞–∂–∏ –∫–≤–∞—Ä—Ç–∏—Ä—ã. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º—É. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∏ –º–µ–¥–∏–∞–Ω—É. –û–ø–∏—à–∏—Ç–µ, —Å–∫–æ–ª—å–∫–æ –æ–±—ã—á–Ω–æ –∑–∞–Ω–∏–º–∞–µ—Ç –ø—Ä–æ–¥–∞–∂–∞. –ö–æ–≥–¥–∞ –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å, —á—Ç–æ –ø—Ä–æ–¥–∞–∂–∏ –ø—Ä–æ—à–ª–∏ –æ—á–µ–Ω—å –±—ã—Å—Ç—Ä–æ, –∞ –∫–æ–≥–¥–∞ –Ω–µ–æ–±—ã—á–Ω–æ –¥–æ–ª–≥–æ?
–£–±–µ—Ä–∏—Ç–µ —Ä–µ–¥–∫–∏–µ –∏ –≤—ã–±–∏–≤–∞—é—â–∏–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏—è. –û–ø–∏—à–∏—Ç–µ, –∫–∞–∫–∏–µ –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ –æ–±–Ω–∞—Ä—É–∂–∏–ª–∏.
–ö–∞–∫–∏–µ —Ñ–∞–∫—Ç–æ—Ä—ã –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤–ª–∏—è—é—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã? –ò–∑—É—á–∏—Ç–µ, –∑–∞–≤–∏—Å–∏—Ç –ª–∏ —Ü–µ–Ω–∞ –æ—Ç –ø–ª–æ—â–∞–¥–∏, —á–∏—Å–ª–∞ –∫–æ–º–Ω–∞—Ç, —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç–∏ –æ—Ç —Ü–µ–Ω—Ç—Ä–∞. –ò–∑—É—á–∏—Ç–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å —Ü–µ–Ω—ã –æ—Ç —Ç–æ–≥–æ, –Ω–∞ –∫–∞–∫–æ–º —ç—Ç–∞–∂–µ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –∫–≤–∞—Ä—Ç–∏—Ä–∞: –ø–µ—Ä–≤–æ–º, –ø–æ—Å–ª–µ–¥–Ω–µ–º –∏–ª–∏ –¥—Ä—É–≥–æ–º. –¢–∞–∫–∂–µ –∏–∑—É—á–∏—Ç–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –æ—Ç –¥–∞—Ç—ã —Ä–∞–∑–º–µ—â–µ–Ω–∏—è: –¥–Ω—è –Ω–µ–¥–µ–ª–∏, –º–µ—Å—è—Ü–∞ –∏ –≥–æ–¥–∞.
–í—ã–±–µ—Ä–∏—Ç–µ 10 –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–æ–≤ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º –æ–±—ä—è–≤–ª–µ–Ω–∏–π. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–≥–æ –º–µ—Ç—Ä–∞ –≤ —ç—Ç–∏—Ö –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –í—ã–¥–µ–ª–∏—Ç–µ —Å—Ä–µ–¥–∏ –Ω–∏—Ö –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã–µ –ø—É–Ω–∫—Ç—ã —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –∏ –Ω–∏–∑–∫–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é –∂–∏–ª—å—è. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ –Ω–∞–π—Ç–∏ –ø–æ –∏–º–µ–Ω–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ locality_name.
–ò–∑—É—á–∏—Ç–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –∫–≤–∞—Ä—Ç–∏—Ä: –¥–ª—è –∫–∞–∂–¥–æ–π –∫–≤–∞—Ä—Ç–∏—Ä—ã –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–∏ –¥–æ —Ü–µ–Ω—Ç—Ä–∞. –í—ã–¥–µ–ª–∏—Ç–µ –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ (locality_name). –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî –≤—ã—è—Å–Ω–∏—Ç—å, –∫–∞–∫–∞—è –æ–±–ª–∞—Å—Ç—å –≤—Ö–æ–¥–∏—Ç –≤ —Ü–µ–Ω—Ç—Ä. –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü —Å —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ–º –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –≤ –∫–∏–ª–æ–º–µ—Ç—Ä–∞—Ö: –æ–∫—Ä—É–≥–ª–∏—Ç–µ –¥–æ —Ü–µ–ª—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–∏–ª–æ–º–µ—Ç—Ä–∞. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫: –æ–Ω –¥–æ–ª–∂–µ–Ω –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å, –∫–∞–∫ —Ü–µ–Ω–∞ –∑–∞–≤–∏—Å–∏—Ç –æ—Ç —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç–∏ –æ—Ç —Ü–µ–Ω—Ç—Ä–∞. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –≥—Ä–∞–Ω–∏—Ü—É, –≥–¥–µ –≥—Ä–∞—Ñ–∏–∫ —Å–∏–ª—å–Ω–æ –º–µ–Ω—è–µ—Ç—Å—è, ‚Äî —ç—Ç–æ –∏ –±—É–¥–µ—Ç —Ü–µ–Ω—Ç—Ä–∞–ª—å–Ω–∞—è –∑–æ–Ω–∞.
–í—ã–¥–µ–ª–∏—Ç–µ —Å–µ–≥–º–µ–Ω—Ç –∫–≤–∞—Ä—Ç–∏—Ä –≤ —Ü–µ–Ω—Ç—Ä–µ. –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —ç—Ç—É —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—é –∏ –∏–∑—É—á–∏—Ç–µ —Å–ª–µ–¥—É—é—â–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã: –ø–ª–æ—â–∞–¥—å, —Ü–µ–Ω–∞, —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤. –¢–∞–∫–∂–µ –≤—ã–¥–µ–ª–∏—Ç–µ —Ñ–∞–∫—Ç–æ—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –≤–ª–∏—è—é—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã (—á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç, —ç—Ç–∞–∂, —É–¥–∞–ª—ë–Ω–Ω–æ—Å—Ç—å –æ—Ç —Ü–µ–Ω—Ç—Ä–∞, –¥–∞—Ç–∞ —Ä–∞–∑–º–µ—â–µ–Ω–∏—è –æ–±—ä—è–≤–ª–µ–Ω–∏—è). –°–¥–µ–ª–∞–π—Ç–µ –≤—ã–≤–æ–¥—ã. –û—Ç–ª–∏—á–∞—é—Ç—Å—è –ª–∏ –æ–Ω–∏ –æ—Ç –æ–±—â–∏—Ö –≤—ã–≤–æ–¥–æ–≤ –ø–æ –≤—Å–µ–π –±–∞–∑–µ?

## –®–∞–≥ 5. –ù–∞–ø–∏—à–∏—Ç–µ –æ–±—â–∏–π –≤—ã–≤–æ–¥

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

`airports_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –∞—ç—Ä–æ–ø–æ—Ä—Ç–∞ –≤ –º–µ—Ç—Ä–∞—Ö (–º)

`balcony` ‚Äî —á–∏—Å–ª–æ –±–∞–ª–∫–æ–Ω–æ–≤

`ceiling_height` ‚Äî –≤—ã—Å–æ—Ç–∞ –ø–æ—Ç–æ–ª–∫–æ–≤ (–º)

`cityCenters_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –≥–æ—Ä–æ–¥–∞ (–º)

`days_exposition` ‚Äî —Å–∫–æ–ª—å–∫–æ –¥–Ω–µ–π –±—ã–ª–æ —Ä–∞–∑–º–µ—â–µ–Ω–æ –æ–±—ä—è–≤–ª–µ–Ω–∏–µ (–æ—Ç –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –¥–æ —Å–Ω—è—Ç–∏—è)

`first_day_exposition` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏

`floor` ‚Äî —ç—Ç–∞–∂

`floors_total` ‚Äî –≤—Å–µ–≥–æ —ç—Ç–∞–∂–µ–π –≤ –¥–æ–º–µ

`is_apartment` ‚Äî –∞–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—ã (–±—É–ª–µ–≤ —Ç–∏–ø)

`kitchen_area` ‚Äî –ø–ª–æ—â–∞–¥—å –∫—É—Ö–Ω–∏ –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`last_price` ‚Äî —Ü–µ–Ω–∞ –Ω–∞ –º–æ–º–µ–Ω—Ç —Å–Ω—è—Ç–∏—è —Å –ø—É–±–ª–∏–∫–∞—Ü–∏–∏

`living_area` ‚Äî –∂–∏–ª–∞—è –ø–ª–æ—â–∞–¥—å –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`locality_name` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω–æ–≥–æ –ø—É–Ω–∫—Ç–∞

`open_plan` ‚Äî —Å–≤–æ–±–æ–¥–Ω–∞—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–∞ (–±—É–ª–µ–≤ —Ç–∏–ø)

`parks_around3000` ‚Äî —á–∏—Å–ª–æ –ø–∞—Ä–∫–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ 3 –∫–º

`parks_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –ø–∞—Ä–∫–∞ (–º)

`ponds_around3000` ‚Äî —á–∏—Å–ª–æ –≤–æ–¥–æ—ë–º–æ–≤ –≤ —Ä–∞–¥–∏—É—Å–µ 3 –∫–º

`ponds_nearest` ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ –≤–æ–¥–æ—ë–º–∞ (–º)

`rooms` ‚Äî —á–∏—Å–ª–æ –∫–æ–º–Ω–∞—Ç

`studio` ‚Äî –∫–≤–∞—Ä—Ç–∏—Ä–∞-—Å—Ç—É–¥–∏—è (–±—É–ª–µ–≤ —Ç–∏–ø)

`total_area` ‚Äî –ø–ª–æ—â–∞–¥—å –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö –º–µ—Ç—Ä–∞—Ö (–º¬≤)

`total_images` ‚Äî —á–∏—Å–ª–æ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏–π –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –æ–±—ä—è–≤–ª–µ–Ω–∏–∏